<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <services>
            <configurator type="Support.Support.RegisterDependencies, Sitecore.Support.346210" />
        </services>
    </sitecore>
</configuration>